{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Section About Start -->
<section class="section causes">
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4 cause-item">
          <div class="row no-gutters">
            <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100" alt="{{ .Title | markdownify }}">
            <div class="card-body">
              <h3 class="mb-3"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
              {{ if ne (or (.Params.Goal) (.Params.Raised)) "" }}
              <!-- <ul class="list-inline border-bottom border-top py-3">
                <li class="list-inline-item"><i class="ti-check text-color mr-2"></i>Goal:
                  <span>{{ .Params.Goal }}</span></li>
                <li class="list-inline-item"><i class="ti-check text-color mr-2"></i>Raised:
                  <span>{{ .Params.Raised }}</span></li>
              </ul> -->
              {{ end }}
              <p class="card-text mb-4">{{ .Summary }}</p>
              <a href="{{ .Params.Goal }}" class="btn btn-main rounded">Descarga</a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

<section class="section causes">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div id="map" style="width: 100%; height: 500px;"></div>
      </div>
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiam9zZW1hZ3IiLCJhIjoiY2trMm5tdTVmMTBtODJvcGVsYXFkdWt6OSJ9.lWdtp3vIRHthlgELEIzXAg';
  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [-74.50, 40],
  zoom: 9
  });
  
  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
</script>

{{ partial "cta.html" . }}

{{ end }}