{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section event">
  <div class="container">
    <div class="row justify-content-center">
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="card event-item mb-4">
          <img src="{{ .Params.Image | absURL }}" class="card-img-top" alt="{{ .Title | markdownify }}">
          <div class="card-body">
            <h3 class="card-title"><a href="{{ .Params.Organizer }}" target="_blank">{{ .Title | markdownify }}</a></h3>
            <p class="card-text">{{ .Summary }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item"><strong>Fecha: </strong> {{ .Params.EventDate }}</li> -->
            <li class="list-group-item"><strong>Plataforma: </strong> {{ .Params.Location | markdownify }}</li>
          </ul>
          <a href="{{ .Params.Organizer }}" target="_blank" class="btn btn-main-2">Ver video</a>
        </div>
      </div>
      {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
  </div>
</section>

{{ partial "cta.html" . }}

{{ end }}